In [118]:
import pandas as pd
import numpy as np

In [119]:
#cargamos los datos diarios de precios del Oro, desde 01/01/2015 a 26/09/2021
gold_hist = pd.read_csv('./Gold.csv', sep=';')

In [120]:
#Comprobamos que no faltan datos - faltan
#Tras investigar un poco vemos que las fechas que no tienen datos (aunque sea sólo el volumen) no deberían estar
#así que la primera modificación sobre los datos será eliminarlas

gold_hist[gold_hist.isna().any(axis=1)]

              Date     Open     High      Low    Close Adj Close Volume
10    Sep 10, 2021  1789.60  1789.60  1789.60  1789.60   1789.60    NaN
188   Dec 24, 2020      NaN      NaN      NaN      NaN       NaN    NaN
207   Nov 27, 2020      NaN      NaN      NaN      NaN       NaN    NaN
441   Dec 24, 2019      NaN      NaN      NaN      NaN       NaN    NaN
458   Nov 29, 2019      NaN      NaN      NaN      NaN       NaN    NaN
562   Jul 03, 2019      NaN      NaN      NaN      NaN       NaN    NaN
588   May 28, 2019  1276.50  1276.50  1276.50  1276.50   1276.50    NaN
590   May 23, 2019  1284.80  1284.80  1284.80  1284.80   1284.80    NaN
591   May 22, 2019  1273.60  1273.60  1273.60  1273.60   1273.60    NaN
592   May 21, 2019  1272.00  1272.00  1272.00  1272.00   1272.00    NaN
633   Mar 22, 2019  1311.60  1311.60  1311.60  1311.60   1311.60    NaN
634   Mar 21, 2019  1306.10  1306.10  1306.10  1306.10   1306.10    NaN
640   Mar 13, 2019  1307.50  1307.50  1307.50  1307.50   1307.50    NaN
672   Jan 25, 2019  1297.40  1297.40  1297.40  1297.40   1297.40    NaN
682   Jan 10, 2019  1284.70  1284.70  1284.70  1284.70   1284.70    NaN
693   Dec 24, 2018      NaN      NaN      NaN      NaN       NaN    NaN
713   Nov 23, 2018      NaN      NaN      NaN      NaN       NaN    NaN
714   Nov 21, 2018  1225.80  1225.80  1225.80  1225.80   1225.80    NaN
716   Nov 19, 2018  1223.10  1223.10  1223.10  1223.10   1223.10    NaN
718   Nov 15, 2018  1212.80  1212.80  1212.80  1212.80   1212.80    NaN
719   Nov 14, 2018  1207.90  1207.90  1207.90  1207.90   1207.90    NaN
756   Sep 24, 2018  1199.30  1199.30  1199.30  1199.30   1199.30    NaN
757   Sep 21, 2018  1196.20  1196.20  1196.20  1196.20   1196.20    NaN
758   Sep 20, 2018  1206.20  1206.20  1206.20  1206.20   1206.20    NaN
759   Sep 19, 2018  1202.20  1202.20  1202.20  1202.20   1202.20    NaN
761   Sep 17, 2018  1199.70  1199.70  1199.70  1199.70   1199.70    NaN
798   Jul 25, 2018  1231.40  1231.40  1231.40  1231.40   1231.40    NaN
799   Jul 24, 2018  1223.90  1223.90  1223.90  1223.90   1223.90    NaN
801   Jul 20, 2018  1229.50  1229.50  1229.50  1229.50   1229.50    NaN
804   Jul 17, 2018  1225.70  1225.70  1225.70  1225.70   1225.70    NaN
813   Jul 03, 2018      NaN      NaN      NaN      NaN       NaN    NaN
840   May 24, 2018  1303.70  1303.70  1303.70  1303.70   1303.70    NaN
854   May 04, 2018  1312.70  1312.70  1312.70  1312.70   1312.70    NaN
884   Mar 22, 2018  1326.60  1326.60  1326.60  1326.60   1326.60    NaN
889   Mar 15, 2018  1316.80  1316.80  1316.80  1316.80   1316.80    NaN
892   Mar 12, 2018  1319.40  1319.40  1319.40  1319.40   1319.40    NaN
921   Jan 29, 2018      NaN      NaN      NaN      NaN       NaN    NaN
964   Nov 24, 2017      NaN      NaN      NaN      NaN       NaN    NaN
1065  Jul 03, 2017      NaN      NaN      NaN      NaN       NaN    NaN
1412  Feb 15, 2016      NaN      NaN      NaN      NaN       NaN    NaN
1432  Jan 18, 2016      NaN      NaN      NaN      NaN       NaN    NaN

In [121]:
gold_hist.head(10)

           Date     Open     High      Low    Close Adj Close Volume
0  Sep 24, 2021  1749.70  1749.70  1745.00  1749.70   1749.70     31
1  Sep 23, 2021  1766.80  1766.80  1738.20  1747.70   1747.70     31
2  Sep 22, 2021  1776.70  1784.30  1767.00  1776.70   1776.70     17
3  Sep 21, 2021  1762.20  1776.00  1759.00  1776.00   1776.00    106
4  Sep 20, 2021  1751.80  1761.80  1750.90  1761.80   1761.80    185
5  Sep 17, 2021  1758.80  1763.00  1749.40  1749.40   1749.40    581
6  Sep 16, 2021  1792.90  1792.90  1743.90  1754.60   1754.60   1645
7  Sep 15, 2021  1803.70  1803.70  1792.40  1792.40   1792.40     59
8  Sep 14, 2021  1791.40  1806.20  1783.00  1804.70   1804.70    764
9  Sep 13, 2021  1789.80  1796.00  1784.00  1792.00   1792.00    533

In [122]:
#Nos vamos a poner a modificar datos, así que hacemos una copia
gold_hist_m=gold_hist.copy()

In [123]:
#eliminamos las filas con algún nan, como hemos explicado arriba
gold_hist_m.shape

(1695, 7)

In [124]:
gold_hist_m=gold_hist_m.dropna()
gold_hist_m.shape

(1654, 7)

In [125]:
#Transformamos Date a formato fecha
gold_hist_m['Date']=pd.to_datetime(arg=gold_hist_m['Date'])
#y Close a formato numérico
gold_hist_m['Close']=pd.to_numeric(gold_hist_m['Close'], errors='coerce')

In [126]:
#Quitamos las columnas que no necesitamos (todas menos los cierres)
gold_hist_m = gold_hist_m.drop(labels=['Open','High','Low','Adj Close','Volume'], axis=1)

In [127]:
#reordenamos los datos porque necesitamos que estén de más antiguos a más nuevos para el resto del código
#y ahora están exactamente al revés
gold_hist_m=gold_hist_m.reindex(index=gold_hist_m.index[::-1])
gold_hist_m.reset_index(inplace=True, drop=True)

In [128]:
gold_hist_m.head(10)

        Date   Close
0 2015-01-02  1186.0
1 2015-01-05  1203.9
2 2015-01-06  1219.3
3 2015-01-07  1210.6
4 2015-01-08  1208.4
5 2015-01-09  1216.0
6 2015-01-12  1232.7
7 2015-01-13  1234.3
8 2015-01-14  1234.4
9 2015-01-15  1264.7

In [129]:
#añadimos columnas de variaciones de precio desde el día antes, semana antes y mes antes
gold_hist_m['C_dia_ant'] = gold_hist_m['Close'].shift(1)
gold_hist_m['C_dia_ant'].loc[[0]]=gold_hist_m['C_dia_ant'][1]

gold_hist_m['var_dia_ant']=100*gold_hist_m['Close']/gold_hist_m['C_dia_ant']-100


gold_hist_m['C_sem_ant'] = gold_hist_m['Close'].shift(5)

for i in range(0,5):
    gold_hist_m['C_sem_ant'].loc[[i]]=gold_hist_m['C_sem_ant'][i+5]

gold_hist_m['var_sem_ant']=100*gold_hist_m['Close']/gold_hist_m['C_sem_ant']-100


gold_hist_m['C_mes_ant'] = gold_hist_m['Close'].shift(20)

for i in range(0,20):
    gold_hist_m['C_mes_ant'].loc[[i]]=gold_hist_m['C_mes_ant'][i+20]

gold_hist_m['var_mes_ant']=100*gold_hist_m['Close']/gold_hist_m['C_mes_ant']-100

/home/dsc/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [130]:
#ahora creamos el set de datos de verdad, que por ahora va a contener:
#los datos de variación de precios diarios de las últimas 4 semanas (20 días, el Nasdaq sólo cotiza 5 días/semana)
#los datos de variación de precios semanales desde 4 semanas antes a 12 semanas antes
#los datos de variación de precios mensuales desde 3 meses antes a 11 meses antes
#en este caso no se incluyen datos objetivo, ya que no queremos predecir nada del Nasdaq,
#únicamente son datos de referencia que creemos que pueden ayudar en las predicciones de las cripto
#todo esto desde el 29 de diciembre de 2015, más tarde separaremos los datos de training y de test
#el 29 de diciembre está elegido para estar seguros de tener datos anteriores al 1 de enero y poder usarlos
#como datos del 1 de enero para cruzar con los datos del bitcoin

columnasData=['varP0', 'varP1', 'varP2', 'varP3', 'varP4', 'varP5', 'varP6', 'varP7', 'varP8', 'varP9',
             'varP10', 'varP11', 'varP12', 'varP13', 'varP14', 'varP15', 'varP16', 'varP17', 'varP18', 'varP19',
             'varPs20', 'varPs25', 'varPs30', 'varPs35', 'varPs40', 'varPs45', 'varPs50', 'varPs55', 'varPs60',
             'varPm65', 'varPm85', 'varPm105', 'varPm125', 'varPm145', 'varPm165', 'varPm185', 'varPm205',
             'varPm225']
data_for_use = pd.DataFrame(columns=columnasData)


for i in range(0,gold_hist_m.shape[0]-1):
    if gold_hist_m['Date'][i]>pd.to_datetime(arg='2015-12-28',format='%Y-%m-%d'):
        #rellenamos las fechas en las que el Oro no ha cotizado con los datos del día cotizado anterior
        if gold_hist_m['Date'][i]>pd.to_datetime(arg='2015-12-31',format='%Y-%m-%d') and \
            (gold_hist_m['Date'].loc[[i]].reset_index(drop=True)-pd.Timedelta(days=1) > \
            gold_hist_m['Date'].loc[[i-1]].reset_index(drop=True)).all():
            
            j=1
            while (gold_hist_m['Date'].loc[[i]].reset_index(drop=True)-pd.Timedelta(days=j) \
                > gold_hist_m['Date'].loc[[i-1]].reset_index(drop=True)).all():
                
                dtemp = dtemp.set_index(keys=[gold_hist_m['Date'].loc[[i-1]]+pd.Timedelta(days=j)])
                data_for_use = data_for_use.append(dtemp)
                j=j+1
        
        
        dtemp = pd.concat([pd.DataFrame(gold_hist_m['var_dia_ant'][i-19:i+1][::-1].values),
                            pd.DataFrame(gold_hist_m['var_sem_ant'][i-64:i-19][::-5].values),
                            pd.DataFrame(gold_hist_m['var_mes_ant'][i-244:i-64][::-20].values)],
                          ignore_index=True, axis=0).T

        dtemp = dtemp.set_index(keys=[gold_hist_m['Date'].loc[[i]]])
        
        new_cols = {x: y for x, y in zip(dtemp.columns, data_for_use.columns)}

        dtemp = dtemp.rename(columns=new_cols)

        data_for_use = data_for_use.append(dtemp)

In [131]:
data_for_use.head(20)

,varP0,varP1,varP2,varP3,varP4,varP5,varP6,varP7,varP8,varP9,...,varPs60,varPm65,varPm85,varPm105,varPm125,varPm145,varPm165,varPm185,varPm205,varPm225
2015-12-29,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,1.420642,-0.169062,...,-0.776614,2.102637,3.123852,-6.894782,-1.325230,-0.712370,-1.437304,3.789438,-5.470460,2.110228
2015-12-30,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,1.420642,...,0.538869,-0.097079,3.488903,-5.855546,-1.012852,-1.293791,-1.063918,3.706577,-6.503868,2.039474
2015-12-31,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,...,1.747848,-0.397667,3.873692,-7.119106,0.436719,-1.234777,-0.938338,3.728165,-6.568691,-0.089235
2016-01-01,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,...,1.747848,-0.397667,3.873692,-7.119106,0.436719,-1.234777,-0.938338,3.728165,-6.568691,-0.089235
2016-01-02,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,...,1.747848,-0.397667,3.873692,-7.119106,0.436719,-1.234777,-0.938338,3.728165,-6.568691,-0.089235
2016-01-03,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,-2.523191,...,1.747848,-0.397667,3.873692,-7.119106,0.436719,-1.234777,-0.938338,3.728165,-6.568691,-0.089235
2016-01-04,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,1.465550,...,3.003138,-2.037411,4.400843,-5.354044,-1.772929,-1.337146,-1.286734,4.556896,-5.488105,-1.239569
2016-01-05,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,1.472519,...,2.737390,-1.615894,4.310583,-6.670678,-1.189162,-0.498648,-1.342450,4.051709,-5.532333,-1.158458
2016-01-06,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,-0.656253,...,1.688506,1.192489,3.072831,-5.936152,-2.284799,-0.545028,-0.016767,3.424954,-5.968202,-3.020479
2016-01-07,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,-0.502419,...,2.354802,1.561663,2.422082,-5.493651,-1.881515,-3.159882,1.406575,4.632936,-4.949921,-5.388049
2016-01-08,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,...,1.656784,2.356301,1.467126,-4.414820,-2.002036,-3.802840,2.287145,4.047247,-4.026007,-7.301808
2016-01-09,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,...,1.656784,2.356301,1.467126,-4.414820,-2.002036,-3.802840,2.287145,4.047247,-4.026007,-7.301808
2016-01-10,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,0.729381,...,1.656784,2.356301,1.467126,-4.414820,-2.002036,-3.802840,2.287145,4.047247,-4.026007,-7.301808
2016-01-11,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,-0.621983,...,2.706701,4.246053,-0.487541,-3.962542,-2.699738,-3.280294,1.878793,2.891113,-3.148041,-6.693979
2016-01-12,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,0.653900,...,3.773915,3.172600,-1.219729,-2.092050,-2.820839,-3.852419,2.873900,0.734301,-1.627366,-7.403706
2016-01-13,0.175018,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,-1.614849,...,2.360979,4.784776,-1.093484,-2.456723,-2.771166,-2.527136,0.332530,1.254209,-1.024744,-7.140647
2016-01-14,-1.250575,0.175018,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,0.018866,...,0.721092,5.163853,-0.467248,-1.669906,-5.801082,-0.612127,1.853568,-0.402786,-0.434456,-6.448335
2016-01-15,1.638886,-1.250575,0.175018,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,...,1.046492,5.712731,-1.412480,1.075269,-7.890137,-0.240784,0.837240,-0.242212,-0.308077,-7.021754
2016-01-16,1.638886,-1.250575,0.175018,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,...,1.046492,5.712731,-1.412480,1.075269,-7.890137,-0.240784,0.837240,-0.242212,-0.308077,-7.021754
2016-01-17,1.638886,-1.250575,0.175018,-0.994072,-0.118419,-0.893744,1.447019,1.251855,0.306948,1.395831,...,1.046492,5.712731,-1.412480,1.075269,-7.890137,-0.240784,0.837240,-0.242212,-0.308077,-7.021754

In [132]:
data_for_use.to_csv('gold_data_for_use.csv')